{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>About us</h1>
        <p class="lead">This application is built on the Python Flask framework with the focus of providing a platform for Computer Science articles.</p>
        <p class="lead">To access the features of this website the user must first create an account.</p>  
        <p class="lead"> After they have created and account they would gain access to the articles functionality where they would be able to create, view and edit aritcles.</p>
        <p class="lead">This site also pulls data from the daily Smarty API and searches for posts on their site with the text entered by the user.</p>
      
    </div>
{% endblock %}